[core]
  editor = vim
  pager = delta
  ignorecase = true
  hooksPath = /Users/sbog/Development/other/git_hooks
[alias]
  unstage = reset HEAD --
  last = log -1 HEAD
  last5 = log -5 --oneline --decorate
  last15 = log -15 --oneline --decorate
  last30 = log -30 --oneline --decorate
  lastn = log --pretty=format:\"%ad | %h | %an: \t %s%d\" --date=short -n5
  logall = log --all --pretty=format:'%C(auto)%h%d %<|(95,trunc)%s %<|(115,trunc)%Cgreen%cr %Cblue%<|(150,trunc)%ae'
  l = "gl"
  logs = log --graph --date=short --branches --pretty=format:'%C(yellow)%h%C(reset) %ad | %C(75)%s%C(reset) %C(yellow)%d%C(reset) [%an]'
  files = show --pretty="format:" --name-only -r
  fixlast = commit --all --amend --no-edit
  br = branch -va
  co = checkout
  st = status
  ru = remote update
  rv = remote -v
  a = !git add . && git commit
  puff = pull --ff-only
  puffom = pull --ff-only origin master
  puffum = pull --ff-only upstream master
  pushom = push origin master
  pushum = push upstream master
  pr = "!f() { git fetch $1 pull/$2/head:pull_$2; git co pull_$2; }; f"
[merge]
  conflictstyle = diff3
  tool = vimdiff
[mergetool]
  prompt = false
[color "branch"]
  current = green reverse
  local = green
  remote = yellow
[color "status"]
  added = green
  changed = yellow
  untracked = cyan
[user]
  name = {{ git_username }}
  email = {{ git_email }}
  signingKey = 5D08051006E44A7C
[gitreview]
  username = {{ git_username }}
[gpg]
  program = /usr/local/bin/gpg
[commit]
  gpgSign = true
[tag]
  gpgSign = true
[pager]
  diff = delta
  show = delta
  log = delta
  reflog = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  line-numbers = true
